<div class="row">
    <div class="col-md-8">
        <div class="primer_img">
        </div>
    </div>
    <div class="col-md-4">
        <h1 class="primer_titulo">
            Mi pasión y enfoque es realizar diseños modernos en hogares
        </h1>
        <p class="letra_contenido">
            Diseño y construyo el ambiente interior de una casa/edificio residencial o
            comercial mediante
            el uso de colores, iluminación, textiles y muebles a las especificaciones de un cliente.El
            resultado
            final, eso es lo que hago. Y si desea obtener más información
            sobre cómo trabajar conmigo, conéctese conmigo hoy.
        </p>
        <section class="btn_section">
            <div class="div_btn_primer_contenido">
                <a href="./subPaginas/contacto.html" class="btn btn-primary btn_principal">
                    Mas informacion
                </a>
            </div>
        </section>
    </div>
</div>