<!--Segunda seccion(tarjetas)"TODO SOBRE TECNOHOGAR"-->
<section class="segunda_seccion">
    <div class="div_segundo_titulo">
        <h1 class="segundo_titulo">
            Todo sobre Tecnohogar
        </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-3">

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">¿Quienes somos?</h5>
                    <p class="card-text">
                        Trabajamos exclusivamente como diseñador y construccion de ambientes desde
                        principios de 2022,
                        y mi conocimiento como remodelacion de interiores me permite impulsar esta
                        disciplina aún más. Informate mas de nosotros.
                    </p>
                </div>
                <a href="#" class="btn btn-primary">Ampliar Informacion</a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Trabaja con nosotros</h5>
                    <p class="card-text">
                        Si sos diseñador grafico, diseñador de interiores, albañil o arquitecto, no
                        dudes en
                        sumarte al equipo de TecnoHogar. Manda un formulario asi te contactamos y te
                        sumamos
                        a la base de datos, incorporamos personas todos los dias.
                    </p>
                </div>
                <a href="#" class="btn btn-primary">Enviar curriculum</a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Proyectos</h5>
                    <p class="card-text">
                        Aqui encontrará una selección de algunos de mis proyectos de TecnoHogar más
                        recientes que muestran el tipo de remodelacion con los que trabajo directamente.
                    </p>
                </div>
                <a href="#" class="btn btn-primary">Ver proyectos</a>
            </div>
        </div>
    </div>
    
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Nuestros clientes</h5>
                    <p class="card-text">
                        Entregamos productos y servicios adaptados a
                        nuestros clientes; nuestro principio 'el Cliente Primero' es nuestra principal
                        prioridad. Podes saber mas sobre nuestra vision de trabajo con nuestros
                        clientes.
                    </p>
                </div>
                <a href="#" class="btn btn-primary">Ver nuestros clientes</a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Empresas</h5>
                    <p class="card-text">
                        Busquemos a través de las empresas aprender y
                        tener perspectivas que no habíamos considerado. También, es importante que nos
                        escuchen, para
                        que entiendan las necesidades de nuestro requerimiento, y que no toda la
                        conversación gire
                        entorno al negocio en sí. Mira las empresas que confian en TecnoHogar.
                    </p>
                </div>
                <a href="#" class="btn btn-primary">Empresas que confian</a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Contacto</h5>
                    <p class="card-text">
                        Conoce nuetras sucursales ubicada por Buenos Aires, nuetras redes sociales y
                        ademas
                        un formulario en la cual podes mandar tu consulta. Tambien si necesitas
                        contratar
                        nuestro servicio. Entra en contacto con TecnoHogar.
                    </p>
                </div>
                <a href="#" class="btn btn-primary">Contactenos</a>
            </div>
        </div>
    </div>
</section>