<link rel="stylesheet" href="/public/css/modules/animationsPartiars.css">

<section class="tercera_seccion">
    <div class="div_tit_subTit_principal">
        <div class="div_subTit_principal">
            <code class="code_subTit">
                        ULTIMOS PROYECTOS DE TECNOHOGAR
                    </code>
        </div>
        <div class="div_tit_pincipal">
            <p class="tit_pincipal">
                Eche un vistazo a algunos de mis últimos proyectos de Tecnohogar en los que estaba
                trabajando.
            </p>
        </div>
    </div>
    <div class="div_proyectos">
        <a href="./subPaginas/proyectos.html">
            <div class="div_img_proyectos">
                <div>
                    <p class="btn_img_proyectos">
                        Remodelacion de cocina
                    </p>
                </div>

            </div>
        </a>
        <a href="./subPaginas/proyectos.html">
            <div class="div_img_proyectos img_segunda">
                <p class="btn_img_proyectos">
                    Remodelacion de sala
                </p>
            </div>
        </a>
        <div .vibrate { animation: vibrate 1.5s linear both } @keyframes vibrate { 0% { transform: translate(0) } 20% {
            transform: translate(-2px, 2px) } 40% { transform: translate(-2px, -2px) } 60% { transform: translate(2px,
            2px) } 80% { transform: translate(2px, -2px) } 100% { transform: translate(0) } }> <i
                class="fas fa-car-side fa-3x"></i></div>

    </div>
</section>